@import "../style.scss";

.dummyInputFieldStyle {
    font-size: 25px;
    margin: 0;
    border-style: hidden;
    outline: none;
    background-color: rgb(243, 243, 243);
    transform: scale(1);
    transition-duration: 300ms;
    width:210px;
    @include cornerAndShadow($shadowColor: grey);
    box-sizing: border-box;
}

.dummyInputFieldStyle:focus {
    transform: scale(1.03);
    transition-duration: 300ms;
    background-color: white;
}

.inputError{
    outline: 1px solid red;
}

.participantTwo{
    display: flex;
    flex-direction: column;
    h4{
        font-size: 25px;
    }
}
