@import "../functionsAndVariables.scss";

.dummyInputFieldStyle {
    font-size: 25px;
    margin: 0;
    border-style: hidden;
    outline: none;
    background-color: rgb(243, 243, 243);
    transform: scale(1);
    @include standardTransitionTime();
    width:210px;
    @include cornerAndShadow($shadowColor: grey);
    box-sizing: border-box;
}

.dummyInputFieldStyle:focus {
    transform: scale(1.03);
    background-color: white;
}

.inputError{
    outline: 1px solid red;
}

.participantTwo{
    display: flex;
    flex-direction: column;
    h4{
        font-size: 25px;
    }
}

.dummyInputFlexbox{
    position: relative;
}

.dummyInputErrorMessage{
    visibility: hidden;
    background-color: lightcoral;
    position: absolute;
    z-index: 1;
    @include cornerAndShadow();
    margin-top: 0.4rem;
    padding: 0.3rem;
    opacity: 0;
    transition: opacity 0.4s ease-in;
}