@import "../functionsAndVariables.scss";



.chooseChampAndItems {
    display: flex;
    gap: 1rem;

    button {
        border-radius: 0.5rem;
        border-style: hidden;
    }
}

.buttonImagesOnHoverEffect {
    @include cornerAndShadow($shadowColor: rgb(96, 96, 96));
    @include standardTransitionTime();
}

.buttonImagesOnHoverEffect:hover {
    transform: scale(1.06);
}

#buttonChamp {
    height: $champIcon;
    width: $champIcon;
}
.itemButtons {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr;
    gap: 0.5rem;
    .choosingItemsButton {
        height: $itemIcon;
        width: $itemIcon;
    }
}

