@import "../functionsAndVariables.scss";

.choosingActionToPerfom{
    display: flex;
    flex-direction: row;
    button{
        font-size: 25px;
        border-style: none;
        background: white;
        //padding: 5px 15px;
        margin: 3px;
        @include standardTransitionTime();
        width: 50px;
        box-sizing: border-box;
        @include cornerAndShadow($shadowColor:gray);
    }
    button:hover{
        transform: scale(1.1);
    }
}